*,
* ::before,
* ::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}

body {
	color: #a9a9a9;
}

.title {
	color: #000000;
}

/* По-другому к спану в хтмл строка 41 добраться не смогла */
span,
.text_paragraph span {
	color: #ff4500;
}
/* Приоритетная запись (убедилась, что к строке 41 не обращаюсь) */
span {
	color: #ff1493;
}
.top__subtitle a {
	color: #00ff00;
}

.header {
}
.menu {
}

a {
	color: #1e90ff;
}
.link__1 {
}

.link__2 * {
	color: #9370db;
}
.link__3 {
}

.main {
}
.top__text {
	color: #5f9ea0;
}
.top__title {
}
.top__subtitle {
}
.image {
}
.top__list {
}
.li__red {
	color: red;
}
.li__orange {
	color: orange;
}
.li__yellow {
	color: yellow;
}
.li__green {
	color: green;
}
.li__blue {
	color: #87ceeb;
}
.li__dblue {
	color: blue;
}
.li__purple {
	color: purple;
}
.text {
}
.text__text * {
	color: #8fbc8f;
}
.text_paragraph ~ p {
	color: #556b2f;
}

.text__list {
}
.list__title {
}
.images {
}
footer {
	color: violet;
}
